input[type=search].filter {
  width: 100%;
  border: 0;
  background: transparent;

  &:not(:focus):placeholder-shown {
    // Show on desktop only via tab
    @include desktop {
      opacity: 0;
      pointer-events: none;
    }
  }

  &::placeholder {
    color: var(--color--dim);
  }
}

[data-filterable].is-filtered [data-filter]:not(.is-result) { display: none; }
[data-filterable].is-filtered { flex: 1; }
