.swiper {
  @include invisible-scroll(x);
  display: flex;
  scroll-snap-type: x;
  gap: 1ch;

  & > *:first-child {
    scroll-snap-align: start;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  &__actions {
    display: flex;
    gap: 1ch;
  }

  &__actions button {
    @include reset-button;
    scroll-snap-align: start end;
    color: blue;
    cursor: pointer;
  }
}
