@import 'sass/helpers';

@mixin desktop { @media screen and (min-width: 600px) { @content; } }
@mixin mobile { @media screen and (max-width: 600px) { @content; } }

:root {
  --gutter: 3rem;

  --font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-family--monospace: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  --font-size: 1.4rem;
  --line-height: 1.6;

  --color--background: #F7F7F7;
  --color--highlight: #FFEC3D66;
  --color--border: #D8DEE4;
  --color--text: #191919;
  --color--dim: #{rgba(#191919, 0.2)};

  @include mobile {
    --gutter: 2.5rem;
    --font-size: 1.4rem;
    --line-height: 1.6;
  }
}

@import 'sass/base';

@import 'components/Filter';
@import 'components/List';
@import 'components/Swiper';

@import 'templates/articles';
@import 'templates/authenticate';

body[data-template=bookmarks],
body[data-template=articles] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3em;

  footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;

    border-top: 1px solid var(--color--border);
    background: var(--color--background);

    @include desktop {
      &:not(:focus-within) {
        border: 0;
      }
    }

    &:focus-within {
      background: white;
    }

    input[type=search] {
      padding-right: 0;
    }

    a {
      padding: 0 var(--gutter);
      &:not(:hover) {
        color: var(--color--dim);
      }
    }
  }
}

